
@media (max-width:1030px){
    
    
header{
    width: 100%;
}
#header-right {
    padding-left: 200px;
}
#header-right a{
    
    
    padding-right: 30px;
    float: none;
   
    font-size: 22px;
    

}

#top-wrapper{
    width: 100%;
    padding-top: 280px;
}
.relative{
    width: 80%;
    margin-left: 50px;
}
.about-background{
    width: 100%;
}
#projects-wrapper{
    width: 100%;
}
#contact-wrapper{
    width: 100%;
}
footer{
    width: 100%;
}
.about-parent {
    display: flex;
    flex-direction: column;
 align-items: center;
 padding-top: 20px;
    
    
    
}
.about-background{
    height: 1700px;
}
#about-wrapper h1{
    font-size: 85px;
    text-align: center;
    
}
.skill-icon{
    display: flex;
    align-items: center;
   
}


.about-history{
    padding-top: 30px;
    width: 80%;
    height: 400px;
    
}
.about-history h1 {
    margin: 0 auto;
}

.about-history  {
    margin: 0 auto;
}
.about-history span{
    color: rgb(255, 115, 0);
}

.photo{
    width: 80%;
    height: 500px;
    
}
.about-photo{
  width: 60%;
    height: 90%;
  margin: 0 auto;
   
   
   
   
}
.about-photo:hover{
    height: 0rem;
    transition: all 5s ease-in-out;

}
.about-education{
    width: 80%;
}

.skill-icon{
    display: flex;
    justify-content: space-between;
    
   
}

#html{
    display: flex;
    flex-direction: row;
    
    
}
#css{
    display: flex;
    flex-direction: row;
}
    

#ruby{
    display: flex;
    flex-direction: row;
    
    
}



#git{
    display: flex;
    flex-direction: row;
    
   
}

.gap{
    width: 100%;
    
}

.wrap{
    padding-top: 40px;
}
.sticker img{
    width: 90%;
    height: 90%;
}

.sticker p {
    
    text-align: center;
    font-size: 35px;
}
.message-rap{
    margin-top: 60px;
}
.message{
    width: 70%;
    height: 65%;
    font-size: 23px;
}


.project{ 
    display: flex;
   flex-wrap: wrap;
   align-content: stretch;
   justify-content: center;
   
      
   
       padding: 200px 0 30px 0;
       animation: animate 5s linear infinite;
       animation-play-state: paused;
       padding-top: 100px;
   } 
   
   .project-photo{
       
       
       width:280px;
       height: 280px;
       margin: 0 10px 10px 0;
       border-radius: 30px;
   } 
   
    .sea{
        
        width: 100%;
    }
    .ocean{
        
        width: 100%;
    }
    .LightWaves{
       
        width: 75%;
    }
    .DarkWaves {
        
        width: 75%;
    }

}




@media (max-width:740px){
    
    #top-wrapper{
        height: 600px;
    }
    
    #header-right {
        margin-left: 130px;
        margin-top: 15px;
    padding: 0;
    width: 50%;
    
    
    
    }
    #header-right a{
        font-size: 23px;
        
        padding: 0 10px;
        
    }
    #header-right ul{
        margin: 0 auto;
        display: flex;
    justify-content: space-around;
        
    }

    #header-left a{
        padding-right: 0;
        font-size: 30px;
        
    }

#top-wrapper{
    padding-top: 150px;
}


.relative{
    width: 90%;
    
    margin-left: 20px;
}
.top-2 h2{
    font-size: 35px;
}

.bto:hover {
    
    border: 4px solid black;
    
    
    
    width: 350px;
  }

  .access{
      
      
      width: 170px;
      height: 60px;
      
    font-size: 29px;
    
  }
  
  .about-background{
      height: 1500px;
  }
  #about-wrapper h1{
    font-size: 45px;
    
}
.about-history p{
    font-size: 20px;
    letter-spacing: 2px;
    
}
.about-education p{
    font-size: 20px;
    letter-spacing: 2px;
   color: #ffffff;
    
}

.photo{
    display: flex;
    justify-content: center;
    
    
    
}
.about-photo{
    width: 70%;
    height: 70%;
}

.skill-icon{
    width: 70%;
    height: 70%;
}

.message-rap{
    margin-top: 40px;
    padding-bottom: 20px;
}
.message{
    width: 78%;
    height: 45%;
    font-size: 20px;
    
}
    
.project{ 
    display: flex;
    align-items: center;
   flex-direction: column;
   
   
      
   
       padding: 40px 0 30px 0;
       animation: animate 5s linear infinite;
       animation-play-state: paused;
       
   } 
   
   .project-photo{
       
       
       width:220px;
       height: 220px;
       margin: 0 10px 10px 0;
       border-radius: 30px;
   } 

   .skill-icon{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
   
}


   #html{
    
    
    width: 50px;
    height: 50px;
    padding-right: 20px;

}
#css{
    
    width: 50px;
    height: 50px;
    padding-right: 20px;
    
}

#ruby{
    
    
    width: 50px;
    height: 50px;
    padding-right: 20px;
    
}

#git{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}



   .wrap{
       padding-top: 10px;
   }
        .sticker {
           
          
          animation: spin 6s linear infinite;
          
          animation-play-state: running;
          
        }
        .sticker img{
            width: 150px;
            height: 150px;
        }
        .sticker p {
            /* top: 15px;
            width: 70%;
            padding-bottom: 30%;
            padding-left: 40px; */
           
            text-align: center;
            font-size: 30px;
        }
        .sea{
        
            width: 100%;
        }
        .ocean{
            
            width: 100%;
            
        }
        .LightWaves{
           
            width: 55%;
            height: 700px;
        }
        .DarkWaves {
            
            width: 55%;
            height: 700px;
        }
    
       .cowboy{
            padding-bottom: 20px;
        }

.gap{
    background: -moz-linear-gradient(top,#0B2CF7,#0000FF,rgb(0, 0, 194),rgb(0, 0, 138),rgb(0, 0, 90),rgb(0, 0, 54),rgb(0, 0, 36),rgb(0, 0, 14),black);
    background: -webkit-linear-gradient(top,#0B2CF7,#0000FF,rgb(0, 0, 194),rgb(0, 0, 138),rgb(0, 0, 90),rgb(0, 0, 54),rgb(0, 0, 36),rgb(0, 0, 14),black);
    background: linear-gradient(to bottom,#0B2CF7,#0000FF,rgb(0, 0, 194),rgb(0, 0, 138),rgb(0, 0, 90),rgb(0, 0, 54),rgb(0, 0, 36),rgb(0, 0, 14),black);
    height: 100px;
}

input, textarea{
   
    width: 300px;
}
.contact{
    font-size: 4em;
}
#projects-wrapper{
    height: 1700px;
}
       .btn-wrapper{
           padding-top: 0;
           
       } 
       /* footer{
           height: 70%;
       } */
      #footer-logo{
           padding-top: 100px;
           
           /* float: none; */
           margin: 0 auto;
           display: flex;
           justify-content: center;
           font-size: 20px;
       }
       .social_media {

        font-size: 2em;
        padding-top: 20px;
        
    
    }
    }

    @media (max-width:570px){

        header{
            width: 100%;
        }
        #header-right{
            display: none;
        }
        #top-wrapper{
            padding-top: 160px;
        }
        .relative{
            
            
            margin-left: 10px;
        }
        .btn-wrapper{
            padding-top: 30px;
        }
        #about-wrapper h1{
            font-size: 39px;
            
        }
        .about-history p{
            font-size: 18px;
            letter-spacing: 2px;
            
        }
        .about-education p{
            font-size: 18px;
            
            
        }
        
        .photo{
            display: flex;
            justify-content: center;
            height: 400px;
            
            
        }
        .about-photo{
            width: 80%;
            height: 65%;
        }
        #html{
    
    
            width: 40px;
            height: 40px;
            margin-right: 20px;
        
        }
        #css{
            
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
        
        #ruby{
            
            
            width: 40px;
            height: 40px;
            margin-right: 20px;
            
        }
        
        #git{
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
        .sticker img{
            width: 120px;
            height: 120px;
        }
        .sticker p {
            
           
            text-align: center;
            font-size: 20px;
        }
        .message{
            width: 70%;
            height: 40%;
            font-size: 17px;
            
        }
        #project-wrapper{
            padding-bottom: 40px;
        }
        .project{
            justify-content: center;
        }
        .project-photo{
       
       
            width:180px;
            height: 180px;
            margin: 0 10px 20px 0;
            border-radius: 30px;
        } 
        .sea{
            width: 97%;
        }
        .btn:hover {
            
            width: 200px;
            
          }
        
          .cowboy{
              
              width: 180px;
              height: 60px;
              font-family: "Permanent Marker";
            font-size: 20px;
            
        
        
          }
          .btn-wrapper a{
              padding: 0;
              padding-top: 10px;
          }
          
          .btn-wrapper{
              padding-top: 10px;
          }
          input, textarea{
   
            width: 200px;
        }
        .contact{
            font-size: 3em;
        }
    


    }
    